### Cross Validation Task

### 약물 A,B,C,X,Y

다중 분류(Multiclass Classification)
- 의학 연구원으로서 동일한 질병을 앓고 있는 일련의 환자에 대한 데이터를 수집한다.
- 치료 과정 동안 각 환자는 5가지 약물 A, C, B, X, Y 중 하나에 반응했다.
- 미래에 동일한 질병을 앓는 환자에게 어떤 약물이 적합할 수 있는지 알아보기 위한 모델을 구축한다.

feature
- Age: 환자의 나이
- Sex: 환자의 성별
- BP: 혈압
- Cholesterol: 콜레스테롤 수치
- Na_to_K: 나트륨-칼륨

target
- Drug: 의약품, 환자에게 효과가 있었던 약

In [88]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score

In [89]:
drug_df = pd.read_csv('./datasets/drugs.csv')
drug_df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [90]:
na_to_k_df = drug_df.loc[:, 'Na_to_K'].reset_index()
na_to_k_df

     index  Na_to_K
0        0   25.355
1        1   13.093
2        2   10.114
3        3    7.798
4        4   18.043
..     ...      ...
195    195   11.567
196    196   12.006
197    197    9.894
198    198   14.020
199    199   11.349

[200 rows x 2 columns]

In [91]:
std = StandardScaler()
std_na_to_k = std.fit_transform(na_to_k_df[['Na_to_K']])
std_na_to_k

array([[ 1.28652212],
       [-0.4151454 ],
       [-0.82855818],
       [-1.14996267],
       [ 0.27179427],
       [-1.03769314],
       [ 0.02643885],
       [-0.70046821],
       [-0.12676951],
       [ 0.45567206],
       [-0.59916196],
       [ 0.43221897],
       [-0.09832049],
       [ 0.674105  ],
       [-0.46926791],
       [-0.0788919 ],
       [-0.64245998],
       [-0.29316156],
       [-1.21935052],
       [ 1.37242427],
       [ 0.42236589],
       [ 1.36451406],
       [ 2.00995979],
       [-0.14550423],
       [ 2.41490725],
       [ 0.37809645],
       [ 1.9819271 ],
       [-0.93028076],
       [ 0.91765633],
       [ 0.25902691],
       [-1.01784822],
       [-0.90446848],
       [-0.70366006],
       [ 2.19147839],
       [-0.27081868],
       [-1.2211546 ],
       [-0.92139911],
       [-0.29787994],
       [-0.88476233],
       [-0.97149714],
       [ 0.43527203],
       [-0.25610845],
       [-0.04086736],
       [-0.53074555],
       [-0.5258884 ],
       [-1.10708099],
       [-0.41542295],
       [-0.80399488],
       [ 2.16511101],
       [ 0.51506806],
       [ 0.46233329],
       [-0.71975804],
       [ 1.54020408],
       [ 0.32924741],
       [-0.81815   ],
       [-0.26707173],
       [-0.65841918],
       [ 1.62943685],
       [-0.83175002],
       [ 0.36338623],
       [ 1.91378824],
       [-0.91723584],
       [ 0.63954985],
       [-1.07058298],
       [-0.3860025 ],
       [ 1.52174691],
       [-0.44803523],
       [-0.72891723],
       [ 1.18979546],
       [ 1.13678315],
       [-0.29385544],
       [ 0.4982762 ],
       [-0.76041931],
       [ 0.94652168],
       [ 0.13662675],
       [ 0.6695254 ],
       [-0.67812533],
       [ 0.42694549],
       [-0.38461474],
       [-0.72780703],
       [-0.29843504],
       [-1.15509738],
       [-0.884346  ],
       [-0.66036204],
       [-0.83508063],
       [-0.29829626],
       [-0.34520245],
       [-0.08416537],
       [ 0.97233395],
       [ 0.1563329 ],
       [ 0.0707083 ],
       [-0.12885115],
       [ 1.85480857],
       [ 1.82996772],
       [-0.14841852],
       [-0.64676202],
       [ 3.07561832],
       [ 1.29207314],
       [ 2.71369132],
       [ 0.08888791],
       [-0.58472929],
       [-0.44831279],
       [-0.41042702],
       [-0.98787267],
       [ 1.69438387],
       [-0.98759512],
       [-0.57334968],
       [ 0.54518238],
       [-0.88920315],
       [ 0.10623487],
       [-1.19270559],
       [-1.30469757],
       [-0.95956243],
       [-0.32133303],
       [-0.94415833],
       [ 0.30676574],
       [-0.91182359],
       [-0.83008471],
       [-0.8038561 ],
       [ 1.3031752 ],
       [ 1.52368977],
       [ 0.15563902],
       [ 0.88421139],
       [ 0.09277363],
       [-0.49813326],
       [ 1.37173039],
       [ 0.0364307 ],
       [-1.14344022],
       [ 2.42267869],
       [-1.19450967],
       [ 0.61123961],
       [ 2.33663776],
       [-0.34506367],
       [ 1.34633444],
       [ 0.68714991],
       [-0.57529254],
       [-0.70879476],
       [-0.44276176],
       [-0.65800285],
       [-0.83535819],
       [-1.36215071],
       [ 1.34008953],
       [-1.03575028],
       [-0.08999395],
       [-0.89100724],
       [-0.92167666],
       [-0.56599457],
       [-0.52422309],
       [-1.21352194],
       [-1.10097486],
       [-1.024787  ],
       [-0.70435393],
       [-1.22448522],
       [-0.20018185],
       [ 0.08874914],
       [-0.76985606],
       [-0.67410083],
       [ 0.95457067],
       [-0.7827622 ],
       [-0.43873726],
       [-0.78290097],
       [-0.85201127],
       [-0.44761891],
       [ 1.74129005],
       [ 0.40557404],
       [ 0.30676574],
       [ 1.46554276],
       [-0.2593003 ],
       [ 0.96012169],
       [-0.66924368],
       [-0.44484339],
       [-0.84201942],
       [ 0.15827576],
       [ 0.36838215],
       [-0.46052505],
       [ 0.31412086],
       [-0.78248465],
       [ 0.40612914],
       [-0.01602651],
       [-0.02685101],
       [ 0.93444819],
       [-0.30537382],
       [-0.61040279],
       [-0.08250007],
       [ 2.92865486],
       [ 1.36118344],
       [-0.86533373],
       [-0.788452  ],
       [ 2.62459732],
       [ 0.67271724],
       [ 0.40335363],
       [-1.12040345],
       [ 0.031296  ],
       [-1.29276286],
       [ 2.58143808],
       [-0.6269171 ],
       [-0.56599457],
       [-0.85908883],
       [-0.28650033],
       [-0.6571702 ]])

In [92]:
na_to_k_df['Na_to_K'] = std_na_to_k
na_to_k_df

     index   Na_to_K
0        0  1.286522
1        1 -0.415145
2        2 -0.828558
3        3 -1.149963
4        4  0.271794
..     ...       ...
195    195 -0.626917
196    196 -0.565995
197    197 -0.859089
198    198 -0.286500
199    199 -0.657170

[200 rows x 2 columns]

In [93]:
con1 = na_to_k_df['Na_to_K'] >= -1.96
con2 = na_to_k_df['Na_to_K'] <= 1.96
con = con1 & con2

In [94]:
na_to_k_df[con]

     index   Na_to_K
0        0  1.286522
1        1 -0.415145
2        2 -0.828558
3        3 -1.149963
4        4  0.271794
..     ...       ...
195    195 -0.626917
196    196 -0.565995
197    197 -0.859089
198    198 -0.286500
199    199 -0.657170

[188 rows x 2 columns]

In [95]:
drug_df = drug_df.iloc[na_to_k_df[con].index].reset_index(drop=True)
drug_df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
183   56   F     LOW        HIGH   11.567  drugC
184   16   M     LOW        HIGH   12.006  drugC
185   52   M  NORMAL        HIGH    9.894  drugX
186   23   M  NORMAL      NORMAL   14.020  drugX
187   40   F     LOW      NORMAL   11.349  drugX

[188 rows x 6 columns]

전처리

In [96]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [97]:
drug_df1 = drug_df.copy()

In [98]:
drug_encoder = LabelEncoder()
targets = drug_encoder.fit_transform(drug_df['Drug'].tolist())
drug_df1['Drug'] = targets

sex_encoder = LabelEncoder()
targets = sex_encoder.fit_transform(drug_df['Sex'].tolist())
drug_df1['Sex'] = targets

BP_encoder = LabelEncoder()
targets = BP_encoder.fit_transform(drug_df['BP'].tolist())
drug_df1['BP'] = targets

CH_encoder = LabelEncoder()
targets = CH_encoder.fit_transform(drug_df['Cholesterol'].tolist())
drug_df1['Cholesterol'] = targets

drug_df1

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     4
1     47    1   1            0   13.093     2
2     47    1   1            0   10.114     2
3     28    0   2            0    7.798     3
4     61    0   1            0   18.043     4
..   ...  ...  ..          ...      ...   ...
183   56    0   1            0   11.567     2
184   16    1   1            0   12.006     2
185   52    1   2            0    9.894     3
186   23    1   2            1   14.020     3
187   40    0   1            1   11.349     3

[188 rows x 6 columns]

In [99]:
drug_encoder.classes_

array(['drugA', 'drugB', 'drugC', 'drugX', 'drugY'], dtype='<U5')

In [100]:
drug_encoder.inverse_transform(drug_df1['Drug'])

array(['drugY', 'drugC', 'drugC', 'drugX', 'drugY', 'drugX', 'drugY',
       'drugC', 'drugY', 'drugY', 'drugC', 'drugY', 'drugY', 'drugY',
       'drugX', 'drugY', 'drugX', 'drugA', 'drugC', 'drugY', 'drugY',
       'drugY', 'drugY', 'drugY', 'drugX', 'drugY', 'drugY', 'drugX',
       'drugB', 'drugX', 'drugX', 'drugX', 'drugA', 'drugX', 'drugX',
       'drugX', 'drugY', 'drugB', 'drugY', 'drugX', 'drugX', 'drugX',
       'drugA', 'drugC', 'drugY', 'drugY', 'drugX', 'drugY', 'drugY',
       'drugB', 'drugC', 'drugB', 'drugY', 'drugX', 'drugY', 'drugY',
       'drugA', 'drugY', 'drugX', 'drugB', 'drugY', 'drugA', 'drugX',
       'drugY', 'drugY', 'drugB', 'drugY', 'drugX', 'drugY', 'drugY',
       'drugY', 'drugA', 'drugY', 'drugA', 'drugX', 'drugB', 'drugX',
       'drugC', 'drugA', 'drugC', 'drugB', 'drugX', 'drugY', 'drugY',
       'drugY', 'drugY', 'drugY', 'drugY', 'drugY', 'drugY', 'drugX',
       'drugY', 'drugY', 'drugA', 'drugA', 'drugC', 'drugX', 'drugY',
       'drugX', 'drugX', 'drugY', 'drugB', 'drugY', 'drugA', 'drugX',
       'drugX', 'drugX', 'drugX', 'drugY', 'drugX', 'drugX', 'drugA',
       'drugY', 'drugY', 'drugY', 'drugY', 'drugY', 'drugB', 'drugY',
       'drugY', 'drugX', 'drugX', 'drugY', 'drugX', 'drugY', 'drugY',
       'drugX', 'drugB', 'drugA', 'drugB', 'drugX', 'drugA', 'drugY',
       'drugB', 'drugY', 'drugA', 'drugX', 'drugX', 'drugA', 'drugX',
       'drugC', 'drugA', 'drugB', 'drugX', 'drugX', 'drugY', 'drugC',
       'drugA', 'drugY', 'drugC', 'drugX', 'drugX', 'drugB', 'drugX',
       'drugY', 'drugY', 'drugY', 'drugY', 'drugX', 'drugY', 'drugA',
       'drugX', 'drugX', 'drugY', 'drugY', 'drugA', 'drugY', 'drugA',
       'drugY', 'drugY', 'drugY', 'drugY', 'drugX', 'drugX', 'drugY',
       'drugY', 'drugB', 'drugA', 'drugY', 'drugY', 'drugA', 'drugY',
       'drugC', 'drugC', 'drugC', 'drugX', 'drugX', 'drugX'], dtype='<U5')

In [101]:
dtc = DecisionTreeClassifier()
features, targets = drug_df1.iloc[:, :-1], drug_df1.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(features, targets, test_size=0.2, random_state=124)
parameters = {'max_depth': [3,4,5],'min_samples_split': [15,16,17]}

In [102]:
from sklearn.model_selection import GridSearchCV

g_dtc = GridSearchCV(dtc,
                    param_grid = parameters,
                    cv=5,
                    refit=True,
                    return_train_score=True,
                    n_jobs=-1)

In [103]:
g_dtc.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'max_depth': [3, 4, 5],
                         'min_samples_split': [15, 16, 17]},
             return_train_score=True)

In [104]:
g_dtc.cv_results_

{'mean_fit_time': array([0.00464392, 0.00439978, 0.00504351, 0.005444  , 0.00484328,
        0.00480051, 0.00344315, 0.00199986, 0.00180001]),
 'std_fit_time': array([7.71766398e-04, 4.89882014e-04, 5.66450072e-04, 1.00633096e-03,
        7.05575967e-04, 9.79802776e-04, 1.04896461e-03, 1.50789149e-07,
        4.00042545e-04]),
 'mean_score_time': array([0.0018446 , 0.00188584, 0.00180078, 0.00224442, 0.0020009 ,
        0.00208797, 0.00200086, 0.0012001 , 0.00140033]),
 'std_score_time': array([4.29120682e-04, 4.72564038e-04, 7.47692129e-04, 3.87002089e-04,
        1.51990675e-06, 1.07924651e-04, 1.40969710e-06, 3.99994861e-04,
        4.89512666e-04]),
 'param_max_depth': masked_array(data=[3, 3, 3, 4, 4, 4, 5, 5, 5],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[15, 16, 17, 15, 16, 17, 15, 16, 17],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 3, 'min_samples_split': 15},
  {'max_depth': 3, 'min_samples_split': 16},
  {'max_depth': 3, 'min_samples_split': 17},
  {'max_depth': 4, 'min_samples_split': 15},
  {'max_depth': 4, 'min_samples_split': 16},
  {'max_depth': 4, 'min_samples_split': 17},
  {'max_depth': 5, 'min_samples_split': 15},
  {'max_depth': 5, 'min_samples_split': 16},
  {'max_depth': 5, 'min_samples_split': 17}],
 'split0_test_score': array([0.8, 0.8, 0.8, 1. , 1. , 1. , 1. , 1. , 1. ]),
 'split1_test_score': array([0.9, 0.9, 0.9, 1. , 1. , 1. , 1. , 1. , 1. ]),
 'split2_test_score': array([0.9, 0.9, 0.9, 1. , 1. , 1. , 1. , 1. , 1. ]),
 'split3_test_score': array([0.83333333, 0.83333333, 0.83333333, 0.96666667, 0.96666667,
        0.96666667, 0.96666667, 0.96666667, 0.96666667]),
 'split4_test_score': array([0.93333333, 0.93333333, 0.93333333, 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        ]),
 'mean_test_score': array([0.87333333, 0.87333333, 0.87333333, 0.99333333, 0.99333333,
        0.99333333, 0.99333333, 0.99333333, 0.99333333]),
 'std_test_score': array([0.04898979, 0.04898979, 0.04898979, 0.01333333, 0.01333333,
        0.01333333, 0.01333333, 0.01333333, 0.01333333]),
 'rank_test_score': array([7, 7, 7, 1, 1, 1, 1, 1, 1]),
 'split0_train_score': array([0.91666667, 0.91666667, 0.91666667, 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        ]),
 'split1_train_score': array([0.91666667, 0.91666667, 0.91666667, 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        ]),
 'split2_train_score': array([0.90833333, 0.90833333, 0.90833333, 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        ]),
 'split3_train_score': array([0.93333333, 0.93333333, 0.93333333, 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        ]),
 'split4_train_score': array([0.90833333, 0.90833333, 0.90833333, 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        ]),
 'mean_train_score': array([0.91666667, 0.91666667, 0.91666667, 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        ]),
 'std_train_score': array([0.00912871, 0.00912871, 0.00912871, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ])}

In [105]:
result_df = pd.DataFrame(g_dtc.cv_results_)
result_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_split,params,split0_test_score,split1_test_score,split2_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,0.004644,7.717664e-04,0.001845,0.000429,3,15,"{'max_depth': 3, 'min_samples_split': 15}",0.8,0.9,0.9,...,0.873333,0.048990,7,0.916667,0.916667,0.908333,0.933333,0.908333,0.916667,0.009129
1,0.004400,4.898820e-04,0.001886,0.000473,3,16,"{'max_depth': 3, 'min_samples_split': 16}",0.8,0.9,0.9,...,0.873333,0.048990,7,0.916667,0.916667,0.908333,0.933333,0.908333,0.916667,0.009129
2,0.005044,5.664501e-04,0.001801,0.000748,3,17,"{'max_depth': 3, 'min_samples_split': 17}",0.8,0.9,0.9,...,0.873333,0.048990,7,0.916667,0.916667,0.908333,0.933333,0.908333,0.916667,0.009129
3,0.005444,1.006331e-03,0.002244,0.000387,4,15,"{'max_depth': 4, 'min_samples_split': 15}",1.0,1.0,1.0,...,0.993333,0.013333,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
4,0.004843,7.055760e-04,0.002001,0.000002,4,16,"{'max_depth': 4, 'min_samples_split': 16}",1.0,1.0,1.0,...,0.993333,0.013333,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
5,0.004801,9.798028e-04,0.002088,0.000108,4,17,"{'max_depth': 4, 'min_samples_split': 17}",1.0,1.0,1.0,...,0.993333,0.013333,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
6,0.003443,1.048965e-03,0.002001,0.000001,5,15,"{'max_depth': 5, 'min_samples_split': 15}",1.0,1.0,1.0,...,0.993333,0.013333,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
7,0.002000,1.507891e-07,0.001200,0.000400,5,16,"{'max_depth': 5, 'min_samples_split': 16}",1.0,1.0,1.0,...,0.993333,0.013333,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
8,0.001800,4.000425e-04,0.001400,0.000490,5,17,"{'max_depth': 5, 'min_samples_split': 17}",1.0,1.0,1.0,...,0.993333,0.013333,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000

In [106]:
print(g_dtc.best_params_, g_dtc.best_score_, sep='\n')

{'max_depth': 4, 'min_samples_split': 15}
0.9933333333333334

In [107]:
g_dtc.best_estimator_

DecisionTreeClassifier(max_depth=4, min_samples_split=15)

In [108]:
from sklearn.metrics import accuracy_score

dtc = g_dtc.best_estimator_
prediction = dtc.predict(X_test)
accuracy_score(y_test, prediction)

0.9736842105263158

---------------

KFold

In [109]:
from sklearn.model_selection import KFold

dtc = DecisionTreeClassifier(random_state=124, min_samples_leaf=6)
kfold = KFold(n_splits=5)

In [110]:
features.shape

(188, 5)

In [111]:
drug_df1

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     4
1     47    1   1            0   13.093     2
2     47    1   1            0   10.114     2
3     28    0   2            0    7.798     3
4     61    0   1            0   18.043     4
..   ...  ...  ..          ...      ...   ...
183   56    0   1            0   11.567     2
184   16    1   1            0   12.006     2
185   52    1   2            0    9.894     3
186   23    1   2            1   14.020     3
187   40    0   1            1   11.349     3

[188 rows x 6 columns]

In [112]:
features.iloc[:,0]

0      23
1      47
2      47
3      28
4      61
       ..
183    56
184    16
185    52
186    23
187    40
Name: Age, Length: 188, dtype: int64

In [113]:
targets

0      4
1      2
2      2
3      3
4      4
      ..
183    2
184    2
185    3
186    3
187    3
Name: Drug, Length: 188, dtype: int64

In [114]:
count = 0
features_array = features.values
targets_array = targets.values
accuracy_list = []
for train_index, test_index in kfold.split(features_array):
    #print(train_index, test_index, sep='\n')
    X_train, X_test = features_array[train_index], features_array[test_index]
    y_train, y_test = targets_array[train_index], targets_array[test_index]

    dtc.fit(X_train, y_train)
    prediction = dtc.predict(X_test)

    accuracy = np.round(accuracy_score(y_test, prediction), 4)
    accuracy_list.append(accuracy)
    
    train_targets = pd.DataFrame(y_train)
    test_targets = pd.DataFrame(y_test)

    
    count += 1

    print(f'{count} 회차')
    print(f'학습 타겟 데이터 분포: {train_targets.value_counts()}')
    print(f'검증 타겟 데이터 분포: {test_targets.value_counts()}')
    print(f'정확도: {accuracy}')
print(f'평균 정확도: {np.mean(accuracy_list)}')

1 회차
학습 타겟 데이터 분포: 4    62
3    42
0    21
1    14
2    11
Name: count, dtype: int64
검증 타겟 데이터 분포: 4    17
3    12
2     5
0     2
1     2
Name: count, dtype: int64
정확도: 1.0
2 회차
학습 타겟 데이터 분포: 4    62
3    45
0    18
2    14
1    11
Name: count, dtype: int64
검증 타겟 데이터 분포: 4    17
3     9
0     5
1     5
2     2
Name: count, dtype: int64
정확도: 1.0
3 회차
학습 타겟 데이터 분포: 4    63
3    42
0    18
1    14
2    13
Name: count, dtype: int64
검증 타겟 데이터 분포: 4    16
3    12
0     5
2     3
1     2
Name: count, dtype: int64
정확도: 1.0
4 회차
학습 타겟 데이터 분포: 4    67
3    43
0    17
2    13
1    11
Name: count, dtype: int64
검증 타겟 데이터 분포: 4    12
3    11
0     6
1     5
2     3
Name: count, dtype: int64
정확도: 0.9189
5 회차
학습 타겟 데이터 분포: 4    62
3    44
0    18
1    14
2    13
Name: count, dtype: int64
검증 타겟 데이터 분포: 4    17
3    10
0     5
2     3
1     2
Name: count, dtype: int64
정확도: 1.0
평균 정확도: 0.98378

------------
Stratified K Fold

In [115]:
from sklearn.model_selection import StratifiedKFold

s_kfold = StratifiedKFold(n_splits=5)

In [116]:
count = 0
accuracy_list = []

for train_index, test_index in s_kfold.split(features_array, targets_array):
    X_train, X_test = features_array[train_index], features_array[test_index]
    y_train, y_test = targets_array[train_index], targets_array[test_index]

    dtc.fit(X_train, y_train)
    prediction = dtc.predict(X_test)

    accuracy = np.round(accuracy_score(y_test, prediction), 4)
    accuracy_list.append(accuracy)

    train_targets = pd.DataFrame(y_train)
    test_targets = pd.DataFrame(y_test)

    count += 1

    print(f'{count} 회차')
    print(f' 학습 타겟 데이터 분포: {train_targets.value_counts()}')
    print(f' 검증 타겟 데이터 분포: {test_targets.value_counts()}')
    print(f' 정확도: {accuracy}')

print(f'평균 정확도: {np.mean(accuracy_list)}')

1 회차
 학습 타겟 데이터 분포: 4    63
3    43
0    18
1    13
2    13
Name: count, dtype: int64
 검증 타겟 데이터 분포: 4    16
3    11
0     5
1     3
2     3
Name: count, dtype: int64
 정확도: 1.0
2 회차
 학습 타겟 데이터 분포: 4    63
3    43
0    18
1    13
2    13
Name: count, dtype: int64
 검증 타겟 데이터 분포: 4    16
3    11
0     5
1     3
2     3
Name: count, dtype: int64
 정확도: 1.0
3 회차
 학습 타겟 데이터 분포: 4    63
3    43
0    19
2    13
1    12
Name: count, dtype: int64
 검증 타겟 데이터 분포: 4    16
3    11
0     4
1     4
2     3
Name: count, dtype: int64
 정확도: 1.0
4 회차
 학습 타겟 데이터 분포: 4    63
3    43
0    19
1    13
2    13
Name: count, dtype: int64
 검증 타겟 데이터 분포: 4    16
3    11
0     4
1     3
2     3
Name: count, dtype: int64
 정확도: 0.9459
5 회차
 학습 타겟 데이터 분포: 4    64
3    44
0    18
1    13
2    12
Name: count, dtype: int64
 검증 타겟 데이터 분포: 4    15
3    10
0     5
2     4
1     3
Name: count, dtype: int64
 정확도: 1.0
평균 정확도: 0.98918